.home .t3-sl-1,
.home .t3-sl-5 {
  background-color: #ff981e !important;
}
.home .t3-sl-1 .jumbotron .btn,
.home .t3-sl-5 .jumbotron .btn {
  border-color: #fff;
}
.t3-mainnav {
  border-bottom: none;
}
.news--main a {
  color: #ff981e !important;
}
ul.category-module li span.mod-articles-category-category a {
  color: #ff981e !important;
}
.t3-sidebar .modulesearch {
  background-color: #ff981e !important;
}
.nn_tabs.top > ul.nav-tabs > li > a {
  background-color: #ff981e !important;
}
.nn_tabs.top > ul.nav-tabs > li.active a,
.nn_tabs.top > ul.nav-tabs > li.active a:hover {
  background-color: #ffffff !important;
}
table.category tr th {
  background-color: #ff981e !important;
}