.home h1 {
  line-height: 1;
}
.home h2 {
  font-size: 21px;
}
@media screen and (min-width: 768px) {
  .home h2 {
    font-size: 30px;
  }
}
.home .jumbotron {
  background-color: transparent;
  position: relative;
  margin-bottom: 0;
}
.home .t3-sl-1 {
  padding: 0;
  background: #75cccb;
  color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}
.home .t3-sl-1 .ja-contentslider {
  overflow: inherit;
}
.home .t3-sl-1 .ja-contentslider .ja-button-control {
  background: transparent;
  border-bottom: 0 none;
  position: absolute;
  top: 50%;
  width: 100%;
}
.home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-left,
.home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-right {
  height: 40px;
  width: 20px;
  border: 0 none;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-right {
  right: -10px;
  z-index: 1000;
}
.home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-left {
  left: -10px;
  z-index: 1000;
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center {
  width: 100% !important;
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide {
  width: 100% !important;
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide .ja_slidetitle {
  position: absolute;
  left: 30px;
  width: 60%;
  bottom: 0px;
  padding: 20px;
  font-weight: normal;
  background: transparent url(../../../../images/stripes-bg.png) repeat center top;
  border: 1px solid #999999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide .ja_slidetitle a {
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 125%;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
  font-weight: normal;
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide .ja_slidetitle:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  filter: alpha(opacity=100);
}
.home .t3-sl-1 #Mod142 {
  overflow: hidden;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom {
  background-repeat: no-repeat;
  background-position: 170px 35px;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p {
  padding: 20px;
  width: 60%;
  margin: 0;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p.btn-que-es {
  padding-top: 0;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p .btn-main {
  background-color: transparent;
  color: #33b668;
  border-color: #2da25d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p .btn-main:hover {
  background-color: #33b668;
  color: #ffffff;
}
.home .t3-sl-1 #Mod144 {
  position: relative;
  margin: 0 auto;
  background-color: #000000;
  text-align: center;
}
.home .t3-sl-1 #Mod144 h3 {
  text-align: left;
}
.home .t3-sl-1 #Mod144 .gallery a {
  display: block;
}
.home .t3-sl-1 #Mod144 .gallery a:after {
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f16a';
  position: absolute;
  bottom: 30%;
  right: 46.5%;
  z-index: 1000;
  font-size: 32px;
}
.home .t3-sl-1 #Mod127 {
  text-align: center;
  background-color: #D1CFD0;
}
.home .t3-sl-2 {
  text-align: center;
}
.home .t3-sl-2 .img-responsive {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .home .t3-sl-2 p {
    font-size: 16px;
    line-height: 22px;
  }
}
.home .t3-sl-3 p > img {
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .home .t3-sl-3 p > img {
    margin-top: 0;
  }
}
.home .t3-sl-3,
.home .t3-sl-4 {
  border-top: 1px solid #eeeeee;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home .t3-sl-3 p,
  .home .t3-sl-4 p {
    font-size: 16px;
    line-height: 22px;
  }
}
.home .t3-sl-3 .jumbotron,
.home .t3-sl-4 .jumbotron {
  padding-top: 0;
}
.home .t3-sl-3 .jumbotron h1,
.home .t3-sl-4 .jumbotron h1 {
  margin-bottom: 10px;
  margin-top: 0;
}
.home .t3-sl-3 .jumbotron p,
.home .t3-sl-4 .jumbotron p {
  font-size: 18px;
  line-height: 1.25;
  color: #999999;
}
@media screen and (min-width: 768px) {
  .home .t3-sl-3 .jumbotron p,
  .home .t3-sl-4 .jumbotron p {
    font-size: 21px;
  }
}
.home .t3-sl-5 {
  background: #75cccb;
  color: #ffffff;
  border-top: 1px solid #eeeeee;
  padding: 0;
}
.home .t3-sl-5 .jumbotron {
  border-radius: 0;
  margin-bottom: 0;
}
.home .convocatorias .module-inner .btn-img-wrap {
  position: relative;
}
.home .convocatorias .module-inner .btn-img-wrap .btn-img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.home .convocatorias .module-inner .btn-img-wrap .btn-img a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #33b668;
  border-color: #227a46;
}
.home .convocatorias .module-inner:hover .btn-img a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  filter: alpha(opacity=100);
}
.home .convocatorias .module-inner:hover .btn-img a:hover {
  color: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)" !important;
  opacity: 0.85 !important;
  filter: alpha(opacity=85) !important;
}
@media (min-width: 320px) and (max-width: 768px) {
  .home .t3-sl-1 .ja-contentslider {
    overflow: hidden;
  }
  .home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-right {
    right: 0px !important;
  }
  .home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-left {
    left: 0px !important;
  }
  .home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center {
    width: 100% !important;
  }
  .home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide {
    width: 100% !important;
  }
  .home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide .ja_slidetitle {
    position: relative;
    left: 0;
    width: auto;
  }
  .home .t3-sl-1 #Mod142 {
    overflow: hidden;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom {
    background-repeat: no-repeat;
    background-position: 465px 45px !important;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p {
    padding: 20px;
    width: 100%;
    margin: 0;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p.btn-que-es {
    padding-top: 0;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p .btn-main {
    background-color: transparent;
    color: #33b668;
    border-color: #2da25d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p .btn-main:hover {
    background-color: #33b668;
    color: #ffffff;
  }
  .home .t3-sl-1 #Mod112 {
    margin-bottom: 20px;
  }
  .home .t3-sl-1 .t3-sidebar {
    padding-bottom: 0;
  }
  .home .t3-sl-1 .t3-sidebar.noticias {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .convocatorias .module-inner .btn-img-wrap {
    position: relative;
  }
  .convocatorias .module-inner .btn-img-wrap .btn-img {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .convocatorias .module-inner .btn-img-wrap .btn-img a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
  }
  .convocatorias .module-inner:hover .btn-img a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    background-color: #33b668;
    border-color: #227a46;
  }
  .convocatorias .module-inner:hover .btn-img a:hover {
    color: #ffffff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    opacity: 0.85;
    filter: alpha(opacity=85);
  }
  .ja-contentslider-center-wrap .ja-contentslider-center .jsslide .ja_slidetitle a {
    font-family: "robotoregular", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px !important;
  }
  #Mod142 {
    overflow: hidden;
  }
  #Mod142 .module-inner .module-ct .custom {
    background-repeat: no-repeat;
    background-position: 170px 35px !important;
  }
  #Mod142 .module-inner .module-ct .custom p {
    padding: 20px;
    width: 60%;
    margin: 0;
  }
  #Mod142 .module-inner .module-ct .custom p.btn-que-es {
    padding-top: 0;
  }
  #Mod142 .module-inner .module-ct .custom p .btn-main {
    background-color: transparent;
    color: #33b668;
    border-color: #2da25d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #Mod142 .module-inner .module-ct .custom p .btn-main:hover {
    background-color: #33b668;
    color: #ffffff;
  }
}