.t3-header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}
.logo {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo {
    text-align: left;
  }
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text a {
  width: 196px;
  height: 60px;
  background-image: url(../../templates/t3_bs3_blank/images/logo.png);
}
.logo-text a span {
  position: relative;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: none;
  font-size: 14px;
  margin-top: 5px;
}
.header__logo__select li {
  vertical-align: middle;
}
.head-search {
  margin-top: 20px;
}
.head-search:before,
.head-search:after {
  content: " ";
  display: table;
}
.head-search:after {
  clear: both;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  position: relative;
}
.head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .head-search .search {
    float: right;
  }
}
.head-search .form-control {
  width: 100%;
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .head-search .form-control {
    width: 150px;
  }
  .head-search .form-control:focus {
    width: 200px;
  }
}
.head__logo--concytec {
  text-align: right;
}
.t3-mainnav.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.t3-mainnav.navbar-default ul.nav li a {
  font-weight: bold;
}
.t3-mainnav.navbar-default ul.nav li.current.active a {
  color: #333333;
  background-color: transparent;
}
.t3-sl {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .t3-sl {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.t3-mainbody {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-footer {
  border-top: 1px solid #eeeeee;
  background: #595d61;
  color: #ffffff;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer .container {
  position: relative;
}
.t3-footer .container .social__links ul {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  top: -19px;
  font-size: 24px;
}
.t3-footnav {
  padding: 20px 0;
}
.t3-footnav:before,
.t3-footnav:after {
  content: " ";
  display: table;
}
.t3-footnav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .t3-footnav {
    padding: 40px 0;
  }
}
.t3-footnav .t3-module {
  background: #595d61;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 10px;
}
.t3-footnav .t3-module a {
  color: #999999;
}
.t3-footnav .t3-module a:hover {
  color: #ffffff;
}
.t3-footnav .t3-module .module-title {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}
.t3-footnav .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.t3-footnav .t3-module ul > li {
  line-height: 24px;
}
.t3-footnav .t3-module ul > li > a {
  color: #999999;
}
.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
  color: #ffffff;
}
.sponsors {
  padding: 45px 0 0px 0;
}
.sponsors .sponsors__list {
  border-top: 1px solid #616569;
  border-bottom: 1px solid #616569;
  padding: 15px 0 7px 0;
}
.t3-copyright {
  border-top: 1px solid #616569;
  font-size: 12px;
  padding-top: 5px;
  text-align: center;
  color: #999999;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.t3-copyright a {
  color: #999999;
}
.copyright {
  margin-bottom: 20px;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: right;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
}
@media (min-width: 992px) {
  .t3-header {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}