.home .t3-sl-1 .jumbotron .btn,
.home .t3-sl-5 .jumbotron .btn {
  border-color: #ffffff;
}
.t3-mainnav {
  border-bottom: none;
}
.category-list h2 {
  background-color: #e7f928;
}
.category-list h2:before {
  position: absolute;
  left: -16px;
  top: 10px;
  content: url(../../../templates/t3_bs3_blank/images/bg/section-bg-s.png) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #bdcf06;
}
h4 {
  font-size: 18px;
  font-family: "robotobold", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li a:hover {
  background-color: #f5fca4;
}
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li.active a {
  background-color: #e7f928;
}
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li ul.dropdown-menu li a {
  background-color: #effb72;
}
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li ul.dropdown-menu li a:hover {
  background-color: #f5fca4;
}
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li ul.dropdown-menu li.active a {
  background-color: #f5fca4;
}
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li ul.dropdown-menu li.dropdown-submenu a {
  background-color: #effb72;
}
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
  display: none;
}
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li ul.dropdown-menu li.open ul.dropdown-menu,
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li ul.dropdown-menu li.active ul.dropdown-menu {
  display: block;
}
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li ul.dropdown-menu li.open ul.dropdown-menu li a,
.t3-sidebar .t3-module .module-inner .module-ct ul.nav li ul.dropdown-menu li.active ul.dropdown-menu li a {
  background-color: #f5fca4;
}
.t3-sidebar .t3-module:before {
  content: url('../../../templates/t3_bs3_blank/images/banners/menu-s-head.jpg');
}
.t3-content .item-page article header,
.t3-content .blog article header {
  position: relative;
  margin: -10px 0 20px 0;
  background-color: #e7f928;
  border: 1px solid #333333;
}
.t3-content .item-page article header h1,
.t3-content .blog article header h1,
.t3-content .item-page article header h2,
.t3-content .blog article header h2 {
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
  margin: 0;
  padding: 15px;
}
.t3-content .item-page article header h1 a,
.t3-content .blog article header h1 a,
.t3-content .item-page article header h2 a,
.t3-content .blog article header h2 a {
  color: #333333;
}
.t3-content .item-page article header:before,
.t3-content .blog article header:before {
  position: absolute;
  left: -32px;
  top: -1px;
  content: url(../../../templates/t3_bs3_blank/images/bg/section-bg-s.png);
}
.t3-content .item-page article .article-content strong,
.t3-content .blog article .article-content strong {
  color: #bdcf06;
}
table {
  border-color: #bdcf06;
}
table.table tr th {
  background-color: #effb72;
  color: #1e2101;
}
table.table tr th,
table.table tr td {
  border-top: 1px solid #bdcf06;
}
table.table tr:hover td {
  background-color: #f5fca4;
  color: #333333;
}
table.table tr:hover th {
  background-color: #effb72;
  color: #1e2101;
}