.home h1 {
  line-height: 1;
}
.home h2 {
  font-size: 21px;
}
@media screen and (min-width: 768px) {
  .home h2 {
    font-size: 30px;
  }
}
.home .jumbotron {
  background-color: transparent;
  position: relative;
  margin-bottom: 0;
}
.home .t3-sl-1 {
  padding: 0;
  background: #1f1f1f;
  color: #878787;
  border-bottom: 1px solid #2d2d2d;
}
.home .t3-sl-1 .ja-contentslider {
  overflow: inherit;
}
.home .t3-sl-1 .ja-contentslider .ja-button-control {
  background: transparent;
  border-bottom: 0 none;
  position: absolute;
  top: 50%;
  width: 100%;
}
.home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-left,
.home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-right {
  height: 40px;
  width: 20px;
  border: 0 none;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-right {
  right: -10px;
  z-index: 1000;
}
.home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-left {
  left: -10px;
  z-index: 1000;
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center {
  width: 100% !important;
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide {
  width: 100% !important;
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide .ja_slidetitle {
  position: absolute;
  left: 30px;
  width: 60%;
  bottom: 0px;
  padding: 20px;
  font-weight: normal;
  background: transparent url(../../../../images/stripes-bg.png) repeat center top;
  border: 1px solid #5a5a5a;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide .ja_slidetitle a {
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 24px;
  color: #2d2d2d;
  text-decoration: none;
  font-weight: normal;
}
.home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide .ja_slidetitle:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  filter: alpha(opacity=100);
}
.home .t3-sl-1 #Mod142 {
  overflow: hidden;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom {
  background-repeat: no-repeat;
  background-position: 60px -55px;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p {
  padding: 20px;
  width: 60%;
  margin: 0;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p.btn-que-es {
  padding-top: 0;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p .btn-main {
  background-color: transparent;
  color: #33b668;
  border-color: #2da25d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p .btn-main:hover {
  background-color: #33b668;
  color: #ffffff;
}
.home .t3-sl-1 #Mod112 {
  position: relative;
  margin: 0 auto;
  background-color: #C1BFC0;
  text-align: center;
}
.home .t3-sl-1 #Mod112 h3 {
  text-align: left;
}
.home .t3-sl-2 {
  text-align: center;
}
.home .t3-sl-2 .img-responsive {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .home .t3-sl-2 p {
    font-size: 16px;
    line-height: 22px;
  }
}
.home .t3-sl-3 p > img {
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .home .t3-sl-3 p > img {
    margin-top: 0;
  }
}
.home .t3-sl-3,
.home .t3-sl-4 {
  border-top: 1px solid #2d2d2d;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home .t3-sl-3 p,
  .home .t3-sl-4 p {
    font-size: 16px;
    line-height: 22px;
  }
}
.home .t3-sl-3 .jumbotron,
.home .t3-sl-4 .jumbotron {
  padding-top: 0;
}
.home .t3-sl-3 .jumbotron h1,
.home .t3-sl-4 .jumbotron h1 {
  margin-bottom: 10px;
  margin-top: 0;
}
.home .t3-sl-3 .jumbotron p,
.home .t3-sl-4 .jumbotron p {
  font-size: 18px;
  line-height: 1.25;
  color: #5a5a5a;
}
@media screen and (min-width: 768px) {
  .home .t3-sl-3 .jumbotron p,
  .home .t3-sl-4 .jumbotron p {
    font-size: 21px;
  }
}
.home .t3-sl-5 {
  background: #1f1f1f;
  color: #878787;
  border-top: 1px solid #2d2d2d;
  padding: 0;
}
.home .t3-sl-5 .jumbotron {
  border-radius: 0;
  margin-bottom: 0;
}
.home .convocatorias .module-inner .btn-img-wrap {
  position: relative;
}
.home .convocatorias .module-inner .btn-img-wrap .btn-img {
  position: absolute;
  top: 40%;
  left: 25%;
}
.home .convocatorias .module-inner .btn-img-wrap .btn-img a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .convocatorias .module-inner:hover .btn-img a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #33b668;
  border-color: #227a46;
}
.home .convocatorias .module-inner:hover .btn-img a:hover {
  color: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  opacity: 0.85;
  filter: alpha(opacity=85);
}
@media (min-width: 320px) and (max-width: 768px) {
  .home .t3-sl-1 .ja-contentslider {
    overflow: hidden;
  }
  .home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-right {
    right: 10px;
  }
  .home .t3-sl-1 .ja-contentslider .ja-button-control .ja-contentslider-left {
    left: 10px;
  }
  .home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center {
    width: 100% !important;
  }
  .home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide {
    width: 100% !important;
  }
  .home .t3-sl-1 .ja-contentslider .ja-contentslider-center-wrap .ja-contentslider-center .jsslide .ja_slidetitle {
    position: relative;
    left: 0;
    width: auto;
  }
  .home .t3-sl-1 #Mod142 {
    overflow: hidden;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom {
    background-repeat: no-repeat;
    background-position: 270px -55px;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p {
    padding: 20px;
    width: 100%;
    margin: 0;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p.btn-que-es {
    padding-top: 0;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p .btn-main {
    background-color: transparent;
    color: #33b668;
    border-color: #2da25d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .home .t3-sl-1 #Mod142 .module-inner .module-ct .custom p .btn-main:hover {
    background-color: #33b668;
    color: #ffffff;
  }
  .home .t3-sl-1 #Mod112 {
    margin-bottom: 20px;
  }
  .home .t3-sl-1 .t3-sidebar {
    padding-bottom: 0;
  }
  .home .t3-sl-1 .t3-sidebar.noticias {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }
}